/* font-family: "Geist", sans-serif;
font-family: "EB Garamond", serif; */
:root {
    --primary : #00774C;
    --primaryDark : #1B3F23;
    --secondary : #FFEBC2;
    --yellow: #FFC219;
    --secondaryLight : #F8F5EC;
    --secondaryLightAlt: #EBE9E0;
    
    --body: #383838;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "EB Garamond", serif;
}

.text-center {
    text-align: center;
}

ul , ol {
    list-style: none;
}

/* Fonts */
.geist {
    font-family: "Geist", sans-serif;
}
.garamond {
    font-family: "EB Garamond", serif;
}

/* Margins  */
.mb-1 {
    margin-bottom: 1rem;
}
.mb-2 {
    margin-bottom: 2rem;
}
/* Backgrounds */
.bg-primary {
    background: var(--primary);
}
.bg-secondary {
    background: var(--secondary);
}
.bg-secondaryLight {
    background: var(--secondaryLight);
}
.bg-secondaryLightAlt {
    background: var(--secondaryLightAlt);
}

/* Border Radius */
.br-16 {
    border-radius: 16px;
}
/* Colors */
.text-dark {
    color: #000;
}
.text-body {
    color: var(--body);
}
.text-primary {
    color: var(--primary);
}
.text-secondary {
    color: var(--secondary);
}
.text-secondaryLight {
    color: var(--secondaryLight);
}

/* Section  */
.section-padding {
    padding: 80px 0;
}

/* Container */
.container-w80 {
    max-width: 80%;
    margin: 0 auto;
}
.container-w90 {
    max-width: 90%;
    margin: 0 auto;
}
/* Container For Slider */
.container-w95-overflow {
    max-width: 95%;
    margin: 0 auto;
}

/* Heading Block */
.headingBlock {
    margin-bottom: 80px;
}
.section-heading {
    font-weight: 600;
    font-size: 42px;
    line-height: 120%;
}

/* Paragraph Tags */
p {
    font-size: 16px;
    line-height: 120%;
    font-weight: 400;
}
/* Image */
.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Widths */
.w-100 {
    width: 100%;
}

/* Display Flex */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Buttons & Links*/
.btn {
    display: inline-block;
    background-color: var(--yellow);
    padding: 10px 24px;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    border-radius: 4px;
    text-decoration: none;
    font-family: "Geist", sans-serif;
}
.readMore {
    font-family: "Geist", sans-serif;
    text-decoration: none;
    display: inline-block;
    color: var(--body);
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid var(--body);
}

/* Perfect Match Container Start */
.Wrapper.perfectMatch {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
}
.Wrapper.perfectMatch .leftWrapper .wrap {
    width: 50%;   
}
.Wrapper.perfectMatch .rightWrapper .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}
.Wrapper.perfectMatch .rightWrapper .cards .card {
    padding: 54px 20px;
    position: relative;
    min-height: 500px;
}
.Wrapper.perfectMatch .rightWrapper .cards .card .contentBlock {
    width: 50%;
}
.Wrapper.perfectMatch .rightWrapper .cards .card .cardHeading {
    font-family: "Geist", sans-serif;
    font-size: 32px;
    line-height: 100%;
    font-weight: 700;
    margin-bottom: 8px;
    color: var(--body);
}
.Wrapper.perfectMatch .rightWrapper .cards .card .cardDescp {
    font-family: "Geist", sans-serif;
    color: var(--body);   
    font-size: 14px;
    margin-bottom: 30px;
    font-weight: 400;
}
.Wrapper.perfectMatch .rightWrapper .cards .card .cardLayer {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1  ;
}
/* Perfecth Match Container End */

/* Who We Are Section Start */
.Wrapper.DetailedAbout {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}
.Wrapper.DetailedAbout .leftWrapper .wrap{
    width: 60%;
}
.Wrapper.DetailedAbout .rightWrapper .gridSix {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 40px;
}
.Wrapper.DetailedAbout .rightWrapper .gridSix .block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}
/* Who We Are Section End */

/* Insta Section Start */
.instaSlider .block > img {
    border-radius: 10px;
}
.insta-section .followSection {
    margin-top: 40px
}
.insta-section .followSection p {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 2px solid var(--primaryDark);
    padding-bottom: 5px;

}

/* Insta Section End */

/* Available Section Start */
.available-section .availableSlider .block .logo-img {
    max-width: 200px;
    height: auto;
}
.availableSlider .swiper-slide {
    width: 80%; /* or 85%, adjust for desired visibility */
    transition: transform 0.3s ease;
  }
/* Available Section End */

/* Blogs Section Start */
.container-Blogs {
    max-width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 55% 45%;
    gap: 50px;
}

.container-Blogs .leftWrapper .imgWrapper  {
    border-radius: 16px;
    margin-bottom: 16px;
}
.container-Blogs .leftWrapper .imgWrapper img {
    border-radius: 16px;
}
.blogTextWrapper.blogTextFlex {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}
.blogTextWrapper.blogTextFlex .blogText {
    width: 60%;
}
.blogTextWrapper.blogTextFlex .blogLink {
    text-align: right;
    width: 30%;
}
.blogTextWrapper .blogText .blogHeading{
    font-size: 20px;
    margin-bottom: 8px;
}
/* Blogs Section End */
/* Media Screens */
@media screen  and (max-width: 480px){
    /* Container */
    .container-w95-overflow {
        max-width: 95%;
        margin-right: 0;
    }
    /* Heading Block */
    .headingBlock {
        margin-bottom: 45px;
    }
    .section-heading {
        font-size: 30px;
    }
     /* Perfect Match Container Start  */
     .Wrapper.perfectMatch {
        grid-template-columns: 1fr;
     }
     .Wrapper.perfectMatch .leftWrapper .wrap {
        width: 100%;
        text-align: center;
        margin-bottom: 46px;
     }
     .Wrapper.perfectMatch .leftWrapper .wrap p{
        max-width: 300px;  
        margin: 0 auto;
     }
    /* Perfect Match Container End  */
    /* Who We Are Section Start */
    .DetailedAbout {
        max-width: 95%;
    }
    .Wrapper.DetailedAbout {
        grid-template-columns: 1fr;
        gap: 50px;
    }
    .Wrapper.DetailedAbout .leftWrapper {
        text-align: center;
        display: flex;
        justify-content: center; 
    }
    .Wrapper.DetailedAbout .rightWrapper .gridSix .block img {
        width: 70px;
        height: 70px;
    }
    .Wrapper.DetailedAbout .rightWrapper .gridSix .block .rtbDescp {
        font-size: 12px;
    }
    /* Who We Are Section End */
    /* Available Section Start */   
    .container-w95-overflow.available-section {
        max-width: 100%;
    }
    /* Available Sectino End */
}